.productDiv{
    width: 20%;
    height: auto;
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(54, 53, 53, 0.3);
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
    margin-left: 16px;
    margin-right: 16px;
    /* padding: 8px; */
    font-family: 'Montserrat';
}
.imageHyperlink{
    width: 100%;
}
.productImage{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    margin: 0px;
    border-radius: 4px;
}
.nameDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 8px;
    color: rgb(46, 46, 46);
}
.type{
    margin-top: 0px;
    margin-bottom: 8px;
}
.productName{
    margin: 0px;
}
.productPrice{
    color: rgb(46, 46, 46);
    margin: 0px;
}
.descDiv{
    margin-top: 0px;
    margin-bottom: 16px;
    width: 95%;
    height: 7.5vh;
    overflow: hidden;
    padding-bottom: 4px;
    display: flex;
    justify-items: top;
    align-items: top;
}
.description{
    color: rgb(46, 46, 46);
    margin-top: 0px;
    font-family: 'Inter';
    font-size: 13px;
}
.cartButton{
    background-color: #eb4871;
    border: none;
    color: whitesmoke;
    font-family: 'Poppins',sans-serif;
    width: 95%;
    margin-bottom: 16px;
    border-radius: 6px;
    padding: 6px;
}