.title{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    width: 95%;
    color: #2e2e2e;
    font-family: 'Montserrat';
}
#cartTitle{
    justify-content: center;
    align-items: center;
}
#content{
    width: 95%;
    justify-content: flex-start;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: top; 
    margin-top: 16px;
    margin-bottom: 24px;
}
.cartProductDiv{
    display: flex;
    width: 65%;
    height: 30vh;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(54, 53, 53, 0.3);
    font-family:'Montserrat' ;
    margin-bottom: 24px;
    position: relative;
}
.cartProductImage{
    width: 30%;
    object-fit: cover;
    margin: 0px;
    margin-right: 24px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.productDiv{
    width: 20%;
    height: auto;
    display: flex;
    border: solid 1px rgba(177, 177, 177, 0.89);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
    padding: 8px;
}
.productImage{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    margin: 0px;
}
.productName{
    font-family: 'Roboto';
    margin-top: 16px;
    margin-bottom: 8px;
}
.secondRow{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.productCatalogue{
    margin-top: 0px;
    margin-bottom: 0px;
}
.cartPrice{
    font-family: 'Roboto';
    margin-top: 8px;
    margin-bottom: 0px;
}
.cartName{
    margin-bottom: 8px;
}
.bi-dash-lg{
    color: #2e2e2e;
    font-size: 12px;
    -webkit-text-stroke: 1px;
}
.bi-plus-lg{
    color: #2e2e2e;
    -webkit-text-stroke: 1px;
}
.digitDisplay{
    border: solid #2e2e2e 2px;
    border-radius: 4px;
    padding: 6px;
    margin-left: 8px;
    margin-right: 8px;
}
.removeBtn{
    padding: 4px;
    border-radius: 4px;
    border: solid #2e2e2e 2px;
    background-color: white;
    color: #2e2e2e;
    font-family: 'Poppins';
    margin-bottom: 16px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#billingDiv{
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(54, 53, 53, 0.3);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px;
    color: #2e2e2e;
}
#totalDiv{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px; 
}
.totalElem{
    margin: 0px;
}
#billingForm{
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.billingLabel,.billingInput{
    margin-bottom: 8px;
}
.billingInput{
    border: solid #2e2e2e 2px;
    padding: 4px;
    border-radius:  4px;
    font-family:'Montserrat' ;
    color: #2e2e2e;
    outline: none;
    width: 100%;
}
#checkoutBtn{
    background-color: rgb(235, 72, 113);
    color: white;
    border: none;
}
#continueBtn,#checkoutBtn{
    width: 95%;
    padding: 8px;
    margin-bottom: 8px;
    font-family: 'Poppins',sans-serif;
    border-radius: 4px;
}
.iti--allow-dropdown{
    margin-bottom: 8px;
    width: 100%;
}
#continueBtn{
    width: 100%;
    border: solid 2px; 
    color: #2e2e2e;
    background-color: white;
}
#error{
    width: 95%;
    padding: 0px;
}
#phoneNo{
    width: 100%;
}
#checkoutModalBackground{
    position: fixed;
    top: 6vh;
    bottom: 0vh;
    padding-bottom: 24px;
    width: 100%;
    height: 100vh;
    background-color: rgba(26, 26, 26, 0.61);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#checkoutModal{
    font-family: 'Roboto';
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(54, 53, 53, 0.3);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    color: #2e2e2e;
    background-color: white;
    max-height: 70vh;
    overflow-y: auto;
}
.formTitle{
    font-family:'Montserrat';
    color: #2e2e2e;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}
#payBtn{
    background-color: rgb(235, 72, 113);
    color: white;
    border: none;
    width: 50%;
    padding: 4px;
    margin-bottom: 8px;
    font-family: 'Poppins',sans-serif;
    border-radius: 4px;
}
@media screen and (max-width: 1300px) {
    body{
        padding-bottom: 40vh;
    }
    #mobileHeader{
        height: 7vh;
        width: 100%;
        background-color: whitesmoke;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 24px;
        position: fixed;
        top: 0;
        z-index: 5;
    }
    .productDiv{
        border: solid;
        margin-top: 100px;
    }
    .imageRowDiv{
        display: flex;
        justify-content: space-between;
    }
    .productImage{
        width: 170px;
        height: 20vh;
        object-fit: cover;
        object-position: center 35%;
    }
    #content{
        width: 100%;
        justify-content: center;
    }
    #billingDiv{
        position: fixed;
        z-index: 10;
        bottom: 0px;
        top: auto;
        width: 100%;
        background-color: white;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-top: 24px;
        border-radius: 0px;
        box-shadow: 0 8px 16px 0 rgba(54, 53, 53, 0.3);
    }
    #billingForm{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .billingInput{
        width: 90%;
    }
    #totalDiv{
        width: 90%;
    }
    .cartProductDiv{
        width: 90%;
        height: auto;
        flex-direction: column;
        box-shadow: 0 8px 16px 0 rgba(54, 53, 53, 0.3);
    }
    #continueBtn{
        display: none;
    }
    #checkoutBtn{
        width: 90%;
    }
    .cartProductImage{
        width: 100%;
        border-radius:8px ;
        height: 30vh;
        margin-right: 0px;
    }
    .productDesc{
        padding-left: 8px;
        padding-right: 8px;
    }
    .secondRow{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        margin-top: 8px;
        margin-bottom: 16px;
    }
    .cartName{
        margin-top: 8px;
        margin-bottom: 0px;
    }
    .productCatalogue{
        margin: 0px;
    }
    .cartPrice{
        margin-bottom: 0px;
    }
    .thirdRow{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .removeBtn{
        margin-bottom: 8px;
        position: static;
    }
    .iti--allow-dropdown{
        width: 90%;
    }
    #phoneNo{
        width: 100%;
    }
    
}