ul li{
    list-style: none;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    margin-top: 8px;
    margin-bottom: 8px;
}
#productSection{
    border: solid;
}
.modal{
    width: 50%;
    border: solid;
}
#results{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 20vw;
    max-height: 35vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(54, 53, 53, 0.3);
    overflow: auto;
}