@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
body{
    margin: 0;
    padding-top: 9.5vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html{
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
span{
    margin: 0px;
    padding: 0px;
}
#mobileHero{
    display: none;
}
#hero{
    width: 100%;
    height: 50vh;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background: url(/images/lady3.jpg);
    background-size: contain;
    background-position: center;
    position: relative;
    /* border-radius: 16px; */
}
.heroImage{
    width: 37%;
    height: auto;
    object-fit:cover;
    object-position: bottom;
}
.heroImage:first-child {
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.heroImage:nth-child(2) {
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    object-position: center;
}
#screen{
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: start;
    align-items: center;
}
#catchPhrase{
    color: whitesmoke;
    font-family: 'Poppins';
    margin-left: 5%;
    font-size: 50px;
}
.title{
    margin-top: 32px;
    margin-bottom: 0px;
    display: flex;
    width: 95%;
    color: #2e2e2e;
    font-family: 'Montserrat';
}
.productSection{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
#productCatalogue{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(218, 218, 218);
    margin-top: 24px;
}
.catalogue{
    position: relative;
    width: 25%;
    height: 50vh;
    margin: 40px;
    border-radius: 8px;
    overflow: auto;
    overflow-y: hidden;
}
.catalogueImage{
    width: 100%;
    height: 100%;

}
.catalogueScreen{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.503);
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
}
.carouselScreen:hover{
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    body{
        padding-top: 0vh;
        overflow-x: hidden;
    }
    #hero{
        display: none;
    }
    #mobileHero {
        position: relative;
        overflow: hidden;
        border: solid;
        display: block;
    }
    #carouselScreen{
        position: absolute;
        top: 0;
        bottom: 0px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.377);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        padding-left: 24px;
    }
    .bi-arrow-left-circle{
        position: absolute;
        top: 50%;
        left: 24px;
        color: white;
        font-size: 28px;
    }
    .bi-arrow-right-circle{
        position: absolute;
        top: 50%;
        right: 48px;
        font-size: 28px;
        color: white;
    }
    .carousel {
        display: flex;
        width: 100vw;
        height: 100vh;
        transition: transform 0.3s ease-in-out;
    }
    
    .heroImage {
        width: 100%;
        height: 100vh;
    }
    .heroImage:first-child {
        clip-path: none;
        object-fit:cover;
        object-position:left;
    }
    .heroImage:nth-child(2) {
        clip-path: none;
    }
    .productSection{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #catchPhrase{
        margin: 0px;
        font-size: 15vw;
    }
    #miniCatchphrase{
        color: white;
        font-family: 'Montserrat';
        width: 90%;
    }
    .catalogue{
        width: 90%;
        height: 30vh;
    }
    .catalogueImage{
        object-fit: cover;
        object-position: center;
    }
    .catalogue:first-child .catalogueImage {
        object-position: top;
    }    
    #productCatalogue{
        flex-direction: column;
    }
   
}